spring:
  profiles:
    active: 'broker,consolidated-auth'

management:
  server:
    port: 9600

server:
  forward-headers-strategy: none
  address: 0.0.0.0

zeebe:
  host: 0.0.0.0
  log:
    level: 'info'

  broker:
    # zeebe.broker.gateway
    gateway:
      enable: true
      network:
        host: 0.0.0.0
        port: 26500

    # zeebe.broker.network
    network:
      host: 0.0.0.0
      commandApi:
        port: 26501
      internalApi:
        port: 26502

    # zeebe.broker.data
    data:
      snapshotPeriod: 5m
      freeSpace:
        processing: 2GB
        replication: 3GB

    # zeebe.broker.threads
    threads:
      cpuThreadCount: '3'
      ioThreadCount: '3'

    # zeebe.broker.exporters
    exporters:
      elasticsearch:
        className: 'io.camunda.zeebe.exporter.ElasticsearchExporter'
        args:
          url: 'http://elasticsearch:9200'
          index:
            prefix: 'zeebe-record'
      CamundaExporter:
        className: 'io.camunda.exporter.CamundaExporter'
        args:
          connect:
            type: elasticsearch
            url: 'http://elasticsearch:9200'
          createSchema: true

camunda:
  persistent:
    sessions:
      enabled: true

  rest:
    query:
      enabled: true

  security:
    authentication:
      method: 'basic'
      unprotectedApi: true
    authorizations:
      enabled: false
    initialization:
      users:
        - username: 'demo'
          password: 'demo'
          name: 'Demo User'
          email: 'demo@demo.com'
      defaultRoles:
        admin:
          users:
            - 'demo'

  #
  # Camunda Data Configuration.
  #
  database:
    index:
      numberOfReplicas: 0
  data:
    secondary-storage:
      type: elasticsearch
      elasticsearch:
        url: 'http://elasticsearch:9200'
